h1 a{
    text-decoration: none;
}

li a{
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: black;
}

a:hover {
    color: orangered;
}


  

